# Keep root docs
]

# Ignore data
data/

# Ignore all scripts by default
scripts/*

.claude/
CLAUDE.md

# Allow only these
!scripts/main.py
!scripts/frontend.py

# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment / secrets
.env
venv/
.venv/